{% extends "base.html" %}

{% block title %} Checkout | E-Shopper {% endblock %}

{% block container %}
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div><!--/breadcrums-->

			<div class="step-one">
				<h2 class="heading">Escolha uma Forma de Pagamento para o Pedido #{{ order.pk }}</h2>
			</div>		
			<center>
			<div class="shopper-informations">
				<div class="row">
					<div class="col-sm-3">
						<div class="shopper-info">
							
							<form>
								
							</form>
							<a class="btn btn-primary" href="{% url 'checkout:pagseguro_view' order.pk %}">Pague Seguro</a>
							<a class="btn btn-primary" href="">PayPal</a>
							</br>
							</br>
						</div>
					</div>
					<div class="col-sm-5 clearfix">
						<div class="bill-to">
							
							<div class="form-one">
								<form>
									
								</form>
							</div>
							<div class="form-two">
								<form>
									
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
							
					</div>					
				</div>
			</div>
			</center>			
		</div>
	</section> <!--/#cart_items-->
{% endblock %}
