{% extends "base.html" %}

{% block title %} Contato | E-Shopper {% endblock %}

{% block slider %}

{% endblock %}

{% block menu-category %}

{% endblock %}

{% block menu-marcas %}

{% endblock %}

{% block img-lateral-esquerda %}

{% load widget_tweaks %}

{% endblock %}

{% block img-lateal-esquerda %}

{% endblock %}

{% block container %}
	<div id="contact-page" class="container">
    	<div class="bg">
	    	<div class="row">    		
	    		<div class="col-sm-12">    			   			
					<h2 class="title text-center">Contato</h2>    			    				    				
					<div id="gmap" class="contact-map">
					</div>
				</div>			 		
			</div>    	
    		<div class="row">  	
	    		<div class="col-sm-8">
	    			<div class="contact-form">
	    				<h2 class="title text-center">Entre em contato</h2>
	    				<div class="status alert alert-success" style="display: none"></div>
	    				{% if success %}
						    <div class="alert alert-success">
						        Mensagem enviada com sucesso
						    </div>	
    					{% endif %}
				    	<form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
				    		 {% csrf_token %}
				            {% for field in form %}
					            <div class="form-group{% if field.errors %} has-error{% endif %}">
					              <label for="{{ field.auto_id }}" class="col-md-3 control-label">{{ field.label }}</label>
					              <div class="col-md-9">
					                {% render_field field class='form-control' %}
					                {% for error in field.errors %}
					                <span class="help-block">{{ error }}</span>
					                {% endfor %}
					              </div>
					            </div>
					            </br>
           					 {% endfor %}                     
				            <div class="form-group col-md-12">
				                <input type="submit" name="submit" class="btn btn-primary pull-right" value="Enviar">
				            </div>
				        </form>
	    			</div>
	    		</div>
	    		<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">Informações de Contato</h2>
	    				<address>
	    					<p>E-Shopper Inc.</p>
							<p>Rua General Valdemar Rocha, N 08, Afogados</p>
							<p>Recife, PE, Brasil</p>
							<p>Mobile: 81 9 9602 8794</p>
							<p>Fax: 1-714-252-0026</p>
							<p>Email: cidroniodeveloper@gmail.com</p>
	    				</address>
	    				<div class="social-networks">
	    					<h2 class="title text-center">Redes Sociais</h2>
							<ul>
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-youtube"></i></a>
								</li>
							</ul>
	    				</div>
	    			</div>
    			</div>    			
	    	</div>  
    	</div>	
    </div><!--/#contact-page-->
{% endblock %}